<div class='container d-flex'>
    <div class="shadow-lg p-3 mb-5 bg-body rounded container border border-1 my-5 col-xxl-5 col-xl-5 col-lg-7 col-md-8 col-sm-10 col-12">
       
        <input type="email" class="border border-1 form-control-plaintext form-control px-2 my-3" id='email' placeholder="email@example.com"[(ngModel)]="email">
        <input type="password" class="border border-1 form-control-plaintext form-control px-2 my-3" id='password' placeholder="Password" [(ngModel)]="password">
        <div class="col-12 px-auto text-center">
            <button class="btn btn-primary my-3 mx-2" (click)="login()"[disabled]='loading'>Login</button>
            <button class="btn btn-outline-primary my-3 mx-2" routerLink='/signup'>Sign up</button>
            
        </div>
    </div>
</div>